@{
    ViewData["Title"] = "Home Page";
}


<section class="section-1 pt-5">
    <div id="carouselExampleIndicators" class="carousel text-black slide" data-ride="carousel" data-interval="3000">
        <div class="carousel-inner">
            <div class="carousel-item active d-flex flex-column justify-content-center">
                <img src="./stockbazzImages/slider-3-icon.png" class="img-wraper" alt="...">
                <div class="carousel-caption d-none d-md-block text-black">
                    <h5>Accelerate Your Trading Power</h5>
                    <h1>Instant Pay-in/Payout Facilities</h1>
                    <p>Experience the speed and convenience of instant pay-in/payout options. With Dabba Trading, access your funds swiftly and efficiently, empowering you to make timely trading decisions and seize profitable opportunities.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="./stockbazzImages/slider-3-icon.png" alt="...">
                <div class="carousel-caption d-none d-md-block text-black">
                    <h5>Unlock Limitless Potential of your Investment</h5>
                    <h1>500X Extra Margin on Investment</h1>
                    <p>Take your investments to new heights with our 500X extra margin offering. Amplify your trading positions and maximize your profit potential. With Dabba Trading, the sky's the limit for your trading ambitions.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="./stockbazzImages/slider-3-icon.png"  alt="...">
                <div class="carousel-caption d-none d-md-block text-black">
                    <h5>100% Safe & Secure Investment Options</h5>
                    <h1>100% Secure: Your Peace of Mind is Our Priority</h1>
                    <p>Trade with confidence on our 100% secure trading platform. We prioritize the safety of your funds and personal information, utilizing robust security measures to ensure a worry-free trading experience. Your peace of mind is our top concern.</p>
                </div>
            </div>
        </div>
    </div>
</section>

